{% include "header.html" %}

<section id="shop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="what are you looking for" aria-label="what are you looking for" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">search</button>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            gender
            {% if gender %}
             {{ gender }}
            {% endif %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='female', color=color, size=size, sort_by=sort) }}">female</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='male', color=color, size=size, sort_by=sort) }}">male</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='unisex', color=color, size=size, sort_by=sort) }}">unisex</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            color
            {% if color %}
             {{ color }}
            {% endif %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color='black', size=size, sort_by=sort) }}">black</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color='while', size=size, sort_by=sort) }}">white</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color='other', size=size, sort_by=sort) }}">other</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            size
            {% if size %}
             {{ size }}
            {% endif %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size='39', sort_by=sort) }}">39</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size='40', sort_by=sort) }}">40</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size='41', sort_by=sort) }}">41</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
            sort by
            {% if sort %}
             {{ sort }}
            {% endif %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size=size, sort_by='price') }}">price</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size=size, sort_by='model') }}">model name</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender=gender, color=color, size=size, sort_by='') }}">default</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% for item in all_items %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ item.img1 }}">
                </div>
                <div class="carousel-item">
                  <img src="{{ item.img2 }}">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.brand }}</h5>
              <h5 class="card-title">{{ item.model }}</h5>
              <h5 class="card-title">{{ item.price }} PLN</h5>
              <div class="row">
                <div class="col">
                  <a href="{{ url_for('item', item_id=item.id) }}" class="btn btn-primary">open</a>
                </div>
                <div class="col">
                  <a href="#" class="btn btn-primary">add</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "footer.html" %}