{% include "header.html" %}

<section id="shop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="what are you looking for" aria-label="what are you looking for" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">search</button>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            gender
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='female') }}">female</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='male') }}">male</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', gender='unisex') }}">unisex</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            color
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', color='black') }}">black</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', color='while') }}">white</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', color='other') }}">other</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            size
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('shop', size='39') }}">39</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', size='40') }}">40</a></li>
            <li><a class="dropdown-item" href="{{ url_for('shop', size='41') }}">41</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
            sort by
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">price</a></li>
            <li><a class="dropdown-item" href="#">name</a></li>
            <li><a class="dropdown-item" href="#">default</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% for item in all_items %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ item.img1 }}">
                </div>
                <div class="carousel-item">
                  <img src="{{ item.img2 }}">
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.brand }}</h5>
              <h5 class="card-title">{{ item.model }}</h5>
              <h5 class="card-title">{{ item.price }} PLN</h5>
              <div class="row">
                <div class="col">
                  <a href="{{ url_for('item', item_id=item.id) }}" class="btn btn-primary">open</a>
                </div>
                <div class="col">
                  <a href="#" class="btn btn-primary">add</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "footer.html" %}